.hero-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.hero {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero-svg {
  padding: 10px;
  width: 80%;
  height: 80%;
}
