@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 100px;
}

.inputForm {
  margin: 0 0 8px 0;
  width: 80%;
  height: max-content;
  padding: 20px 10px;
  border-radius: 25px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.input,
.select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 4px 8px;
  border: 3px solid transparent;
  background-color: #eee;
  border-radius: 10px;
  width: 90%;
}

.input:focus,
.select:focus {
  outline: none;
}

.inputForm > label {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  vertical-align: middle;
}

.input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 300px;
}
.tooltip {
  margin-left: 6px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.tooltip:hover {
  cursor: pointer;
}
.error-wrapper {
  height: 24px;
  display: flex;
  align-items: center;
}
.error-icon {
  font-size: 1rem;
  margin-right: 6px;
}
.error {
  display: flex;
  align-items: center;
  width: 300px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 50%;
}

.form-svg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.form-svg-line svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 800px;
  transform: rotateY(180deg);
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
