@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.inputForm {
  margin: 0 0 40px 0;
  width: 80%;
  height: max-content;
  padding: 20px 10px;
  border-radius: 25px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
}

.inputForm > input,
.inputForm > select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 280px;
}
.inputForm > label {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: large;
  width: 280px;
}
.error {
  color: red;
}

.form-svg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.form-svg-line svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}
