@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&family=Roboto:wght@300;400&display=swap");

.header-wrapper {
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 00 60px 0;
}
.header-wrapper > h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-shadow: 1px 1px 2px var(--light-form-svg);
  font-weight: 600;
  z-index: 1;
}
.header-wrapper > h2 {
  width: 80%;
  text-align: right;
  margin: 20px 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: italic;
  z-index: 1;
}
.header-wrapper > article {
  text-align: center;
  width: 80%;
  margin: 20px 10px;
  font-size: 22px;
  word-spacing: 1mm;
  letter-spacing: 0.1mm;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  z-index: 1;
}
@keyframes scaleUpAndDown {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.header-wrapper > h3 {
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: large;
  word-spacing: 1mm;
  letter-spacing: 0.1mm;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
.header-wrapper > button {
  cursor: pointer;
  height: 32px;
  width: 120px;
  font-size: large;
  padding: 4px 8px;
  border-radius: 30px;
  border: none;
  transition: all 0.2s ease;
  animation-name: scaleUpAndDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.header-wrapper > button:hover {
  scale: 1.1;
}

.header-svg-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header-svg-line svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}
.active {
  width: 100%;
  height: 100%;
}
