@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.navbar-wrapper {
  position: fixed;
  top: 10px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  font-size: xx-large;
  color: #fff;
  height: 40px;
  width: 80%;
  border-radius: 50px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.company-logo {
  height: 80%;
}
.company-name {
  font-family: "Courgette", cursive;
  font-size: 22px;
  margin-right: auto;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .company-name {
    display: none;
  }
  .company-logo {
    margin-right: auto;
  }
}
#lang-select {
  border: none;
  outline: none;
  height: 80%;
  width: 50px;
  background: transparent;
}
#lang-select option {
  color: #222;
}
