@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.navbar-wrapper {
  position: fixed;
  top: 8px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  font-size: xx-large;
  color: #fff;
  height: 30px;
  width: 80%;
  border-radius: 50px;
  z-index: 100;
}

.company-name {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 22px;
  margin-right: auto;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .company-name {
    display: none;
  }
  .company-logo {
    margin-right: auto;
  }
}
.sun,
.moon,
.company-logo {
  font-size: 22px;
  transition: 0.1s ease all;
}
.sun:hover,
.moon:hover {
  scale: 1.1;
}

#lang-select {
  cursor: pointer;
  border: none;
  outline: none;
  height: 80%;
  width: 50px;
  background: transparent;
}
#lang-select option {
  color: #222;
}
.theme-switcher,
.lang-switcher {
  cursor: pointer;
}
