* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-out;
  text-decoration: none;
}
:root {
  --dark-bg: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  --dark-navbar-bg: linear-gradient(to right, #284875cc, #333e58cc);
  --dark-container-bg: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --dark-text: #f5f5f5;
  --dark-header-svg: #24527a;
  --dark-form-bg: linear-gradient(
    112.1deg,
    #24527a 11.4%,
    rgb(63, 76, 119) 40.2%
  );
  --dark-form-svg: #6789ba;
  --dark-tooltip: #6789ba;
  --dark-error: #fb4f4f;
  --light-bg: #e7e7e7;
  --light-navbar-bg: linear-gradient(to right, #e2c5f3aa, #d59bf6aa);
  --light-container-bg: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  --light-text: #222;
  --light-header-svg: #9896f1;
  --light-form-bg: #9896f1aa;
  --light-form-svg: #d59bf6;
  --light-tooltip: #f7f7f7;
  --light-error: #4512aa;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*! THEME  */

.dark {
  color: var(--dark-text);
}
.light {
  color: var(--light-text);
}

.Container.dark {
  background: var(--dark-container-bg);
}
.Container.light {
  background: var(--light-container-bg);
}

/* NAVBAR  */
.navbar-wrapper.dark {
  background: var(--dark-navbar-bg);
  box-shadow: rgba(50, 50, 100, 0.8) 0px 3px 8px;
}
.navbar-wrapper.light {
  background: var(--light-navbar-bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

/* HEADER */
.header-wrapper.dark {
  background: transparent;
}
.header-wrapper.light {
  background: transparent;
}
.header-svg-line.dark .shape-fill {
  fill: var(--dark-header-svg);
}
.header-svg-line.light .shape-fill {
  fill: var(--light-header-svg);
}
.scroll-btn.dark {
  background: var(--dark-header-svg);
}
.scroll-btn.light {
  background: var(--light-form-svg);
}

/* FORM */
.inputForm.dark {
  background: var(--dark-form-bg);
  box-shadow: rgba(10, 10, 100, 0.5) 1.95px 1.95px 2.6px;
}
.inputForm.light {
  background: var(--light-form-bg);
  box-shadow: rgba(10, 10, 100, 0.3) 1.95px 1.95px 2.6px;
}
.form-svg-line.dark .shape-fill {
  fill: var(--dark-form-svg);
}
.form-svg-line.light .shape-fill {
  fill: var(--light-form-svg);
}

/* FOOTER */
.footer-wrapper.dark {
  background: var(--dark-form-svg);
}
.footer-wrapper.light {
  background: var(--light-form-svg);
}
/* TOOLTIP */
.tooltip.dark {
  color: var(--dark-tooltip);
}
.tooltip.light {
  color: var(--light-tooltip);
}

/* FORM ERRORS */
.error.dark {
  color: var(--dark-error);
}
.error.light {
  color: var(--light-error);
}
.error-border.dark {
  border-color: var(--dark-error);
  color: var(--light-text);
}
.error-border.light {
  border-color: var(--light-error);
  color: var(--light-text);
}
@media screen and (max-width: 480px) {
  .navbar-wrapper {
    width: 90%;
  }
  .inputForm {
    width: 90%;
  }
  .inputForm > label {
    font-size: medium;
  }
  .inputForm > .input-wrapper > input,
  .inputForm > .input-wrapper > select {
    font-size: medium;
  }
}
